<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <br />
    <div>
        <h4>Hii SIR/MAM ..</h4>
    </div>
    <table width="50%" class="table">
        <tr>
            <td align="center" style="background-color: cyan">
                <span style="font-size:25px;color:white"> WELCOME C4C </span>
                <br />
                <br />
            </td>

        </tr>

        <tr align="center">
            <td>
                <br />
                <br />
                
                <br />
                <br />
              
                <br />

              Dear [name]

                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center" style="background-color:cyan">
                <br />
                <br />
                <span style="font-size:15px;color:white" ;>Anchal C4C Pvt Ltd 2022  </span>
                <br />
                
                <br />
                <br />
            </td>

        </tr>

    </table>
    <br />
    <div>
        ASP.NET is a popular web-development framework for building web apps on the .NET platform. ASP.NET Core is the open-source version of ASP.NET, that runs on macOS, Linux, and Windows.
    </div>

</body>
</html>  